@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@font-face {
  font-family: iransansx;
  src: url('./assets/fonts/iransansxv.woff');
  font-display: swap;
  font-size: 100, 900;
  font-style: normal;
}
#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
